# Rust/Cargo
/target/
/Cargo.lock

# Archivos de respaldo
**/*.rs.bk

# Debug (MSVC)
*.pdb

# Cargo-mutants
**/mutants.out*/

# JetBrains IDEs (RustRover, CLion, etc.)
.idea/

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp
*.swp
*.swo
.DS_Store

